<!DOCTYPE html>

<html>

<head>
  <title>jURL | Better URL</title>
  <link rel="icon" type="image/png" href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png" />
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <h1>Shorten and/or mask your URL.</h1>
  <main>
    <section>
      <form action="/" class="content-box" method="POST">
        <fieldset>
          <legend>jURL</legend>
          <label for="url">URL:</label>
          <input id="url" type="url" name="url" placeholder="https://www.youtube.com/watch?v=yFpUmuY6eGs" required />
          <input type="submit" value="Better URL" />
        </fieldset>
      </form>
    </section>
  </main>
  <footer>
    <p>&copy; <a href="https://www.linkedin.com/in/jeremiah-lusato-02642962/">Jerry Lusato</a></p>
  </footer>
</body>

</html>